.img {
    height: 212px;
    width: 346px;
    left: 24px;
    top: 0px;
    border-radius: 0px;
}

.centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightDiv {
    display: flex;
    align-items: center;
    justify-content: end;
}

.btnoLog {
    padding-right: 104px;
}

.buttonForm2 {
    background-color: white;
    color: #0d6efd;
}