.newUrlCard {
    height: 312px;
    width: 936px;
    border-radius: 6px;
}

.centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}


.inputForm {
    display: flex;
    height: 64px;
    width: 792px;
    border-radius: 4px;
}

.btnAdd {
    height: 48px;
    width: 222px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}

.rightDiv {
    display: flex;
    align-items: center;
    justify-content: end;
}